@charset "UTF-8";
/* CSS Document */

	.list {
		background: #72e1ff;
		font-family: Impact;
		
	}
	body {
		background: #68e8e1
	}
	.information {
		font-family: Time New Roman;
		border: dashed;
		border-color: #4169e1;
	}
	#paragraph {
		font-family: Time New Roman;
	}
	