@charset "UTF-8";
/* CSS Document */

	.list {
		background: #F7A234;
		font-family: Comic Sans MS;
		
	}
	body {
		background: #FED239
	}
	.information {
		font-family: Comic Sans MS;
	}
	#paragraph {
		font-family: Verdana;
	}
	